@import "../../sass/variables.scss";

.cart {
  transition: all ease 0.3s;
  position: fixed;
  right: 0;
  top: 66px;
  width: 18vw;
  height: 100vh;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  border-radius: 10px;
  text-align: center;
  z-index: 1;
}
.closed {
  right: -100%;
  position: fixed;
  transform: translateX(100%);
  top: 66;
  width: 18vw;
  height: 100vh;
  background-color: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  text-align: center;
}
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  background-color: red;
  width: 30px ;
  height: auto;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
}

.title {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.cartList {
  height: 90vh;
  display: flex;
  flex-flow: column;
}
