@import "../../sass/variables.scss";

.cart {
  transition: all ease 0.3s;
  position: fixed;
  right: 0;
  top: 0;
  width: 15vw;
  height: 100vh;
  background-color: #c4c4c4;
  text-align: center;
  z-index: 1;
}
.closed {
  right: -100%;
  position: fixed;
  transform: translateX(100%);
  top: 0;
  width: 15vw;
  height: 100vh;
  background-color: #c4c4c4;
  text-align: center;
}
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: red;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  width: 35px;
  height: 35px;
  font-weight: bolder;
}
.title {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartList {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90vh;

  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  background-color: #dddddd;
}
