.item {
  margin: 5px 10px;
  display: relative;  
  box-shadow: black 1px 1px 2px;
}
.cont {
  position: relative
}

.button {
  position: absolute;
  left: 0;
  font-size: 20px;
  background-color: red;
  width: 30px ;
  height: auto;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
}

.title {
  // white-space: nowrap;
  width: 200px;
  // border: 1px solid #000000;
  // overflow: hidden;
  // text-overflow: ellipsis;
}
