@import '../../sass/variables.scss';

.menu {
  width: 100%;
  background-color: $CPrimary;
  color: $CFourth;
  transition: 0.4s;
  
}


@media screen and (min-width:$width-notebook){
  .menu{
    width:100%;
    height: 100%;
    
  }
}