@import '../../sass/variables.scss';

.container{
   min-width: 100%;
    height: 100%;    
    display: flex;    
    align-items:center;
    align-content: center;
    justify-content:center;
    
    
    img{
        width:25%;
        height:100%;
    }
    button{
        align-self: center;
        height:19%;
        border-radius:50%;
        border:none;
        background-color:transparent;
    }
    svg{
        transition:.2s;
    }
    svg:hover{
        transform:scale(1.1);
        transition:.2s;
    }
      
}
.image{
    min-width: 100%;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    align-content: center;
   
}
