.card {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #c4c4c4;
  transition: all ease 0.2s;
}

.link {
  // text-decoration: none;
  // color: rgb(0, 0, 0);
  // transition: all 0.3s ease;
  // min-width: 15%;
  // background-color: #c4c4c4;
  // height: 100%;
  // box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  // margin: 0.5%;
  // display: flex;
  // align-items: center;
  // flex-direction: column;
  // border:none;
  // outline:1px solid black;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  
}
.link:hover {
  color: black;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
  cursor: pointer;
  background-color: rgb(223, 221, 221);
}
.card img {
  min-width: 100%;
  min-height: 100%;
}
.cardText {
  min-width: 90%;
  text-align: left;
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: 400;
}

.cardImg {
  min-width: 100;
  max-height: 70%;
  width: 100%;
  object-fit: cover;
}
