@import '../../sass/variables.scss';


.container{
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  margin-left: .5%;
  margin-right: .5%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(187, 206, 211, .4);
  backdrop-filter: blur(8px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);

}
.imagen{
  width: 100%;
  min-height:70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}

.cardlink {
  width: 100%;
  min-height: 100%;
  text-decoration: none;
  margin-left: 1%;
  margin-right: 1%;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  color:black;

}
.cardlink:hover {
  color: black;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
  cursor: pointer;
  background-color: rgb(223, 221, 221);
  transition: all 0.3s;

}

.price_title{
  font-weight: 300;
  color: green;
}



@media screen and (max-width: $width-notebook) {

  .container{
    min-height: 10%;
    h5{
      font-size:1rem
    }
  }
  .price_title{
    font-size: 1.5rem;
    font-weight: 300;
    color: green
  }
  

}