.containerTitle {
  text-align: center;
  text-decoration: underline;
  background-color: #0d6efd;
  color: #fff;
  margin-bottom: 10px;
}

.containerBought {
  text-align: left;
}

.camp {
  // border: 2px solid red;

}