.link {
  text-decoration: none;
  color:black;

}

.productContainer {
  background-color: white;
  position: relative;
  height: 400px;
  width: 300px;
  text-decoration: none
}

.image {
  width: 100%;
  border-radius: 1em;
  padding: 10px;
  height:60%
}

.productContainer h1 {
  font-size: 10px;
}