@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.navbar {
  display: flex;
  width: 100%;
  height: 7vh;
  align-items: center;
  background: rgb(176, 203, 34);
  background: linear-gradient(
    90deg,
    rgba(176, 203, 34, 1) 0%,
    rgba(72, 138, 74, 0.9808298319327731) 49%,
    rgba(0, 116, 62, 1) 78%
  );
  z-index: 1;
  position: fixed;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  width: 15%;
  height: 40%;
  font-weight: 600;
  color: black;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 4px;
  background-color: #aaaaaa;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.login:hover {
  color: black;
  background-color: #524f4f;
}

.cart {
  width: 35%;
  // position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // left: 0;
  button {
    border: none;
    background-color: transparent;
  }
}

.market {
  text-decoration: none;
  color: black;
  font-family: "Kaushan Script", cursive;
  :hover {
    text-decoration: none;
    color: black;
  }
}
.register {
  width: 15%;
  height: 40%;
  font-weight: 600;
  color: black;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 14px;
  background-color: rgba(30, 215, 96, 1);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.register :hover {
  background-color: rgba(12, 145, 60, 1);
  transition: 0.3s;
}

.containertitle {
  width: 50%;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin-right: 3%;
  margin-left: 3%;
  padding-right: 3%;
  align-items: center;
}

.containerLogin {
  width: 50%;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin-right: 3%;
  margin-left: 3%;
  align-items: center;
}
.containerProfile {
  width: 50%;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin-right: 3%;
  margin-left: 3%;
  align-items: center;
  .profile {
    width: 60%;
    height: 100%;
    transition: all 0.4s;
  }
}

.containersearch {
  width: 70%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: $width-notebook) {
  .profile {
    width: 40%;
    height: 95%;
    left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login {
    font-size: 0.8rem;
  }

  .containersearch {
    width: 50%;
    height: 100%;
  }

  .containertitle {
    h1 {
      font-size: 1.7rem;
    }
    h4 {
      font-size: 1.2rem;
    }
  }
}
