.categoriesContainer {
  display: flex;
  flex-flow: column wrap;
  background-color: #f0f757;
  border-radius: 0.2em;
  box-shadow: 5px 5px 10px 1px #34344a;
  position:fixed;
  left: 0;
  top: 15%;
}
