.container{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center
}

.form{
  display:flex;
  width: 100%;
  justify-content: space-around;
  input{
    width: 45%;
    margin:.5%;
    height:60%;
    border: none;
  }
}

.login {
  width: auto;
  height: 40%;
  font-weight: 400;
  border: none;
  border-radius: 14px;
  display:flex;
  align-items: center;
  background-color: rgba(30, 215, 96, 1);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.login:hover {
  background-color: rgba(12, 145, 60, 1);
  transition: 0.3s;
}
