.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: #FBFBFC;
}

.container_title{
    margin: 10px;
    font-weight: 400;
}

.card_title{
    font-weight: 400;
}

.card_price{
    font-weight: 400;
    color: #8EB631;
}