.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://wallpaperaccess.com/full/1216525.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}