@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=EB+Garamond:wght@500&family=Gruppo&family=Kaushan+Script&family=Michroma&family=Mitr:wght@500&family=Sriracha&display=swap');
/* 
font-family: 'Anton', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Gruppo', cursive;
font-family: 'Mitr', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Michroma', sans-serif;
font-family: 'Sriracha', cursive; 
*/

html {
  box-sizing: border-box;
}
* *:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    'Mitr',"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
