.card_wrapper {
  // display: grid;
  // grid-template-columns: repeat(2,1fr);
  // grid-auto-rows: auto;
  // grid-gap: 2rem;
  max-width: 1100px;
  // min-width: 100%;
  // margin: 0 auto;
}

.product_imgs {
  width: 100%;
}

.img_display {
  overflow: hidden;
  width: 100%;
  display: block;

  .img_showcase {
      display: flex;
      width: 100%;
      transition: all 0.5s ease;
      img {
          min-width: 100%;
      }
  }
}

.img_select {
  display: flex;
  img {
      overflow: hidden;
      width: 100%;
      display: block;
  }
  .img_item {
      margin: 0.3rem;

      &:hover {
          opacity: 0.8;
      }
      &:nth-child(1) {
          margin: 1px;
      }
      &:nth-child(2) {
          margin: 1px;
      }
      &:nth-child(3) {
          margin: 1px;
      }
      &:nth-child(4) {
          margin: 1px;
      }
  }
}