.categorieContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 8px;
}

// .pointer {
//   display: block;
//   position: relative;
//   cursor: pointer;
//   // font-size: 20px;
//   user-select: none;
 
//  }

// .categorieContainer input[type="checkbox"]{
//   appearance: none;
// }

// .categorieContainer input[type="checkbox"]:checked{
//   // appearance: none;
//   height: 1.50em;
//   width: 1.50em;
//   border: 1px solid white;
//   background-color: white;
//   border-radius: .4em;
// }

// .categorieContainer input[type="checkbox"]:checked{
//   appearance: none;
//   height: 1.50em;
//   width: 1.50em;
//   border: 1px solid white;
//   background-color: white;
//   border-radius: .4em;
// }




// .categorieContainer input[type="checkbox"]:not(::checked){
//   content: "#"
// }
// .categorieContainer input[type="checkbox"]::after{
//   content: "a"
// }